:root {
    --black: #181618;
    --violet: #4C3B4D;
    --purple: #6A116A;
    --snow: #FBF5F3;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url("img/bkg.jpg");
    background-position: center bottom;
    background-attachment: fixed;
    background-repeat: repeat;
    justify-content: center;
    background-size: cover;
    flex-direction: column;
    text-align: center;
    display: flex;
}

header a {
    text-shadow: 0.6px 0.6px var(--purple);
    text-decoration: none;
    color: var(--snow);
    padding: 0% 0.5%;
}

header a:hover {
    text-shadow: 1px 1px var(--violet);
    color: var(--purple);
}

.nav-sticky {
    position: sticky;
    z-index: 1000;
    margin: 0px;
    top: 0px;
}

main {
    border-right: 2px solid var(--black);
    border-left: 2px solid var(--black);
    background-color: var(--snow);
    padding: 0% 16%;
    margin: 0% 4%;
    opacity: .9;
    min-height: 960px;
}

#home {
    margin-top: 50px;
    padding: 0% 6%;
}

#role {
    color: var(--purple);
}

#about {
    margin-right: 2%;
}

main section {
    margin: 64px 0px;
}

#project-list {
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
}

#project-list article {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}


.project {
    border: 2px solid var(--black) ;
    background-color: var(--violet);
    color: var(--snow);
    position: relative;
    overflow: hidden;    
    max-width: 260px;
    /* height: 350px; */
    opacity: .9;
}

.project img {
    display: block;
    height: 200px;
    width: 260px;
}

.project .project-media {
    position: relative;
}

.project h3 {
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px var(--snow);
    position: absolute;
    color: var(--snow);
    text-align: center;
    width: 100%;
    z-index: 1;
    left: 50%;
    top: 50%;
}

.project .project-description {
    padding: 2% 2%;
    text-align: left;
}

#stack div {
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0% 4%;
    display: flex;
}

#stack img {
    width: 50px;
}

#stack article {
    margin: 1% 2%;
}

#contact a {
    text-decoration: none;
}

.contrast {
    background-color: var(--black);
    color: var(--snow);
    padding: 16px 0px;
}