/* 
    #151515 Night
    #995ECD Amethyst
    #ADB6C4 French gray
    #EAEAEA Platinum
*/

* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

main {
    margin: 0% 10%;
}

body {
    background-image: url("img/bkg.jpg");
    background-position: center bottom;
    background-attachment: fixed;
    background-color: white;
    background-size: cover;
    color: #151515;
}

nav {
    text-decoration: none;
    justify-content: center;
    padding: 0px 10px;
    margin-top: 10px;
    flex-wrap: wrap;
    display: flex;
}

nav a, footer a {
    border: 1px solid #EAEAEA;
    text-decoration: none;
    padding: 4px 8px;
    margin: 4px;
}

nav a:hover, footer a:hover{
    border-color: #995ECD;
}

section {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #eaeaead6;
    border: 1px solid #ADB6C4;
    border-radius: 16px;
    margin: 30px 0px;
    padding: 10px;
}

section:hover {
    background-color: #eaeaead9;
}


article p {
    padding: 0px 10%;
}

footer p {
    margin-top: 10px;
}

.nav-sticky {
    position: sticky;
    z-index: 1000;
    margin: 0px;
    top: 0px;
}

.text-color, section h2 {
    text-shadow: 1px 1px #151515;
    color: #995ECD;
}

.contrast {
    background-color: #151515;
    color: #EAEAEA;
    padding: 6px;
}

.contrast a{
    color:#EAEAEA;
}

.contrast a:hover {
    color: #995ECD;
}

.company-card {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px dashed #151515;
    padding: 6px 66px 20px;
    border-radius: 16px;
    margin: 20px 10px;
}

.responsabilities-list li {
    text-align: left;
}

.ul-list  {
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    list-style: none;
    display: grid;
    padding: 0;
    margin: 0;
    gap: 2px;
}

.ul-list li{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px dashed #151515;
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px;
    margin: 10px 5px;
}

.ul-list li:hover {
    border: 1px dashed #995ECD;
    color: #995ECD;
}

.content-wrapper {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    padding: 10px;
    gap: 20px;
}

.content-wrapper img {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    max-height: 300px;
    height: auto;
}

.content-wrapper p {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    border: 1px dashed;
    max-height: 300px;
    text-align: left;
    margin: 0px 0%;
    padding: 10px;
    flex: 1;
}

.back-to-top {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    background-color: #eaeaead9;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    display: flex;
    z-index: 1000;
    bottom: 20px;
    height: 50px;
    right: 20px;
    width: 50px;
}

.back-to-top svg {
    color: #ffffff;
    height: 30px;
    width: 30px;
}

.back-to-top:hover {
    background-color: #995ECD;
}

.back-to-top.show {
    pointer-events: auto;
    opacity: 1;
}

@media (max-width: 868px) {
    .ul-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .content-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .content-wrapper p {
        text-align: center;
    }
}

@media (max-width: 680px) {
    .ul-list {
        grid-template-columns: 1fr;
    }

    .principal-container {
        display: block;
    }
}