section {
  text-align: justify;
  margin: 32px 16px;
}

section h1,
section h2,
section h3 {
  text-align: center;
}

section p {
  padding: 16px 0px;
}

section h1 {
  color: purple;
}

#role {
  color: magenta;
}

#HeroButtons {
  flex-direction: row;
  display: flex;
}
