nav {
  background-color: black;
  flex-direction: row;
  margin: 0% 6%;
  display: flex;
}

nav a {
  text-decoration: none;
  padding: 16px 32px;
  text-align: center;
  font-weight: 900;
  color: white;
  width: 100%;
}

nav a:hover {
  background-color: purple;
  cursor: pointer;
  color: black;
}
