<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Addison Reyes | Full-stack Developer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="assets\img\icon.png" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <header class="contrast nav-sticky">
      <nav>
        <a href="/">&lt; Home /&gt;</a>
        <a href="/projects">&lt; Projects /&gt;</a>
        <a href="/experience">&lt; Experience /&gt;</a>
        <a href="/#contact">&lt; Contact /&gt;</a>
      </nav>
    </header>

    <main>
      {% block content %}

      {% endblock %}
    </main>

    <footer class="contrast">
      <p>&copy; 2025 Addison Reyes</p>
    </footer>
  </body>
</html>
