{% extends 'base.html' %}

{% block content %}
  <div id="home">
    <div id="about">
      <h1>Addison Amin Reyes Cedano</h1>
      <h2 id="role">Full-stack Developer</h2>
      <br />
      <p>Passionate about everything related to programming and software engineering, I love learn new technologies, solving problems with software, automating processes, and seeking efficient solutions to technological challenges</p>
    </div>
  </div>

  <section id="stack">
    <h2>Stack</h2>
    <br />
    <div>
      <article>
        <img src="{{ url_for('static', filename='img/js.png') }}" />
        <p>JavaScript</p>
      </article>

      <article>
        <img src="{{ url_for('static', filename='img/ts.png') }}" />
        <p>TypeScript</p>
      </article>

      <article>
        <img src="{{ url_for('static', filename='img/react.png') }}" />
        <p>React</p>
      </article>

      <article>
        <img src="{{ url_for('static', filename='img/node.png') }}" />
        <p>NodeJS</p>
      </article>

      <article>
        <img src="{{ url_for('static', filename='img/express.png') }}" />
        <p>Express</p>
      </article>

      <article>
        <img src="{{ url_for('static', filename='img/python.png') }}" />
        <p>Python</p>
      </article>

      <article>
        <img src="{{ url_for('static', filename='img/flask.webp') }}" />
        <p>Flask</p>
      </article>

      <article>
        <img src="{{ url_for('static', filename='img/html.png') }}" />
        <p>HTML</p>
      </article>

      <article>
        <img src="{{ url_for('static', filename='img/css.png') }}" />
        <p>CSS</p>
      </article>

      <article>
        <img src="{{ url_for('static', filename='img/git.png') }}" />
        <p>Git</p>
      </article>

      <article>
        <img src="{{ url_for('static', filename='img/docker.png') }}" />
        <p>Docker</p>
      </article>

      <article>
        <img src="{{ url_for('static', filename='img/no-sql.png') }}" />
        <p>NoSQL</p>
      </article>

      <article>
        <img src="{{ url_for('static', filename='img/sql.png') }}" />
        <p>SQL</p>
      </article>
    </div>
  </section>

  <section id="projects">
    <h2>Projects</h2>
    <br />
    <div id="project-list">
      <article class="project">
        <div class="project-media">
          <img src="{{ url_for('static', filename='img/placeholder.webp') }}" />
          <h3>Project name</h3>
        </div>
        <div class="project-description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique quis nunc eu dictum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed ut fermentum libero, quis maximus nisi.</p>
        </div>
      </article>
    </div>
  </section>

  <section id="contact">
    <h2>Contact</h2>
    <br />
    <p>
      San Pedro de Macoris, Republica Dominicana<br />
      addison.amin@gmail.com<br />
      +1 (849) 359-3664
    </p>
    <br />
    <a href="https://github.com/AddisonReyes" target="_blank"><img src="{{ url_for('static', filename='img/github.png') }}" /></a>
    <a href="https://www.linkedin.com/in/addison-reyes-9aa017208/" target="_blank"><img src="{{ url_for('static', filename='img/linkedin.png') }}" /></a>
  </section>
{% endblock %}
