{% extends 'base.html' %}

{% block content %}
  <section id="projects">
    <h2>Projects</h2>
    <p>All the projects I have worked on</p>
    <br />
    <div id="project-list">
      {% for project in projects %}
        <article class="project">
          <div class="project-media">
            {% if project.image %}
              <img src="{{ url_for('static', filename=project.image) }}" alt="{{ project.title }}" />
            {% else %}
              <img src="{{ url_for('static', filename='img/placeholder.webp') }}" alt="{{ project.title }}" />
            {% endif %}
            <h3>{{ project.title }}</h3>
          </div>
          <div class="project-description">
            <p>{{ project.description }}</p>
          </div>
        </article>
      {% endfor %}
    </div>
  </section>
{% endblock %}
