* {
  padding: 0px;
  margin: 0px;
}

body {
  /* Background */
  background-color: white;
  color: white;

  /* Text */
  font-family: Georgia, "Times New Roman", Times, serif;

  /* Display */
  flex-direction: column;
  display: flex;
}
