.HeroButton a {
  border: 1px solid white;
  text-decoration: none;
  border-radius: 16px;
  text-align: center;
  padding: 16px 32px;
  color: white;
}

.HeroButton a:hover {
  border: 1px solid black;
  background-color: purple;
  color: black;
}
